<table id="addresses" class="display table table-striped" cellspacing="0" width="100%">
    <thead>
    <tr><th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Postal-Code</th>
        <th>City</th>
        <th>Created</th>
        <th><a href="?sort={% if session.getValue('sort') == 'ASC' %}DESC{% else %}ASC{% endif %}"
               title="{% if session.getValue('sort') == 'ASC' %}
                           Click für Sortierung Absteigend
                           {% else %}
                           Click für Sortierung Aufsteigend
                           {% endif %}">Updated</a></th>
    </tr>
    </thead>
    <tbody>
    {% for address in response.addresses %}
        <tr>
            <td>{{ address.id }}</td>
            <td><a href="/address?id={{ address.id|e('html_attr') }}">{{ address.address1|e('html_attr') }}</a></td>
            <td>{{ address.address2 }}</td>
            <td>{{ address.postalCode }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.created|date("d.m.Y H:i:s") }}</td>
            <td>{{ address.updated|date("d.m.Y H:i:s") }}</td>
            <td><a href="/updateaddressview?id={{ address.id|e('html_attr') }}" class="btn btn-primary btn-xs" title="Adresse ändern hier clicken">
                    <span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="#" data-target="#deleteConfirmation" data-recordId="{{ address.id }}" data-recordTitle="Something cool" class="deleteAddress btn btn-danger btn-xs" data-toggle="modal"
                   title="Adresse löschen hier clicken"><span class="glyphicon glyphicon-trash"></span></a></td>

        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Modal HTML -->
{% include 'addresses/deleteaddressmodal.twig' %}
