<h3>Texts</h3>

<form class="form-group pull-right col-lg-4" action="../text" method="get">
    <div class="input-group">
        <label for="search" class="sr-only">Search</label>
        <input type="text" id="searchText" name="searchText" class="search form-control" placeholder="Search Texts">
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div>
</form>

<table id="texts" class="display table table-striped" cellspacing="0" width="100%">
    <thead>
    <tr><th>Id</th>
        <th>Text 1</th>
        <th>Text 2</th>
        <th>Created</th>
        <th><a href="?sort={% if session.getValue('sort') == 'ASC' %}DESC{% else %}ASC{% endif %}"
               title="{% if session.getValue('sort') == 'ASC' %}
                           Click f체r Sortierung Absteigend
                           {% else %}
                           Click f체r Sortierung Aufsteigend
                           {% endif %}">Updated</a></th>
    </tr>
    </thead>
    <tbody>
    {% for text in response.texts %}
        <tr><td>{{ text.id }}</td>
            <td>{{ text.text1 }}</td>
            <td>{{ text.text2 }}</td>
            <td>{{ text.created|date("d.m.Y H:i:s") }}</td>
            <td>{{ text.updated|date("d.m.Y H:i:s") }}</td>
            <td><a href="/updatetextview?id={{ text.id|e('html_attr') }}" class="btn btn-primary btn-xs" title="F체r Texte 채ndern hier clicken">
                    <span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
