{% extends "base.twig" %}

{% block content %}

    {{ include('navbar.twig') }}
    {{ include('error.twig') }}

    <span><img src="../images/Products/{{ response.product.PID }}_{{ response.product.IMG }}" /></span>

    <h2>Product No {{ response.product.PID }} - {{ response.product.LABEL }}</h2>
    <h3>for only <span class="label label-success">US$ {{ response.product.PRICE }}</span></h3>

    {{ include('comments.twig') }}

    {% if session.getValue('user') %}
        <h4>Add a comment?</h4>
        <form enctype="multipart/form-data" method="post" action="/suxx/comment">

            <input type="hidden" name="csrf" value="{{ session.getValue('token') }}">
            <input type="hidden" name="product" value="{{ response.product.PID }}">

            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Add a Photo?</label>
                <input type="file" id="exampleInputFile" name="picture">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    {% else %}
        <a href="../loginview" class="btn btn-primary btn-lg active" role="button">Login to leave a comment</a>
    {% endif %}

{% endblock %}
