<h2>Products</h2>

<table id="products" class="display table table-striped" cellspacing="0" width="100%">
    <thead>
    <tr><th></th>
        <th>Product-Id</th>
        <th>Product</th>
        <th>Price</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    {% for product in response.products %}
    <tr><td><img src="../images/Products/Small/{{ product.PID }}_small_{{ product.IMG }}" /></td>
        <td>{{ product.PID }}</td>
        <td><a href="/suxx/product?pid={{ product.PID }}">{{ product.LABEL }}</a></td>
        <td>{{ product.PRICE }}</td>
        <td>{{ product.CREATED }}</td>
        <td>{{ product.UPDATED }}</td>
        <td><a href="/suxx/updateproductview?pid={{ product.PID }}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></td>
        <td><a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

